Repository tandy-1000/sablier, changes with the labels that .github/labeler.yml gives for each.
All labels: reverse-proxy, provider

.github/labeler.yml:

reverse-proxy:
- plugins/**

provider:
- app/providers/**

ci(release): add missing `@semantic-release/git` plugin
  .github/workflows/release.yml
Labels: none

feat(proxy): add nginx reverse proxy
  .github/workflows/plugins.yml
  plugins/nginx/README.md
  plugins/nginx/e2e/conf/nginx_docker_classic.conf
  plugins/nginx/e2e/conf/nginx_docker_swarm.conf
  plugins/nginx/e2e/docker-compose.yml
  plugins/nginx/e2e/docker-kubernetes.yml
  plugins/nginx/e2e/docker-stack.yml
  plugins/nginx/e2e/docker_classic.sh
  plugins/nginx/e2e/docker_swarm.sh
  plugins/nginx/e2e/kubernetes.sh
  plugins/nginx/e2e/manifests/deployment.yml
  plugins/nginx/e2e/manifests/sablier.yml
  plugins/nginx/e2e/nginx.conf
  plugins/nginx/njs/sablier.js
  plugins/traefik/e2e/docker-compose.yml
  plugins/traefik/e2e/docker-stack.yml
Labels: reverse-proxy

docs(release): change version from `v1.3.0` to `1.3.0`
  README.md
  docker-compose.yml
  docs/THEMES.md
  docs/guides/code-server-traefik-kubernetes.md
  plugins/traefik/README.md
Labels: reverse-proxy

feat: add support for groups
  README.md
  app/http/routes/models/blocking_request.go
  app/http/routes/models/dynamic_request.go
  app/http/routes/sessions.go
  app/http/routes/strategies.go
  app/http/routes/strategies_test.go
  app/providers/docker_classic.go
  app/providers/docker_swarm.go
  app/providers/kubernetes.go
  app/providers/provider.go
  app/sessions/groups_watcher.go
  app/sessions/mocks/provider_mock.go
  app/sessions/sessions_manager.go
  docker-compose.yml
  plugins/traefik/config.go
  plugins/traefik/config_test.go
Labels: reverse-proxy, provider

fix(config): set `session_duration` optional with default value from `sessions.default-duration`
  app/http/routes/models/blocking_request.go
  app/http/routes/models/dynamic_request.go
  app/http/routes/strategies.go
  app/http/routes/strategies_test.go
  app/http/server.go
  app/sablier.go
  plugins/traefik/config.go
  plugins/traefik/config_test.go
Labels: reverse-proxy

wip
  .traefik.yml
  plugins/nginx/README.md
  plugins/nginx/njs/sablier.js
  plugins/traefik/config.go
  plugins/traefik/config_test.go
Labels: reverse-proxy

docs: fix `docker-compose.yml` group middleware
  docker-compose.yml
Labels: none

feat(plugin): add plugin with ProxyWasm specification
  go.work
  plugins/wasm/README.md
  plugins/wasm/docker-compose.yml
  plugins/wasm/envoy.yaml
  plugins/wasm/go.mod
  plugins/wasm/go.sum
  plugins/wasm/main.go
  plugins/wasm/main.wasm
Labels: reverse-proxy

feat(provider): add `podman` provider
  app/providers/podman.go
  go.work.sum
Labels: provider
